* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: teal;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container form {
    width: 35vw;
    height: 60%;
    margin: auto;
    display: flex;
    flex-flow: column;
    background-color: thistle;
    justify-content: space-around;
    padding: 0 4vw;
    box-sizing: border-box;
}
.container form input[type=number] {
    box-sizing: border-box;
    height: 5vh;
    width: 100%;
}

.container form input[type=submit] {
    box-sizing: border-box;
    height: 5vh;
    width: 100%;
    box-sizing: border-box;
}

.container .poke-container {
    width: 100%;
    height: 40vh;
    background-color: tan;
}